    <a href="https://developer.android.com/guide/components/activities/activity-lifecycle">Source</a>
    <hr>
        CST 336 2019&copy; Apkarian <br />
        <strong>Disclaimer:</strong> The information in this webpage is ficticous.<br />
        It is used for academic purpose only.
    </body>
</html>