<!DOCTYPE html>
<html>
    <head>
        <title>Solar System</title>
        <link rel = "stylesheet" href = "/css/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>